node_modules/
logs/
.bun-cache/
.npm-cache/
.tmp-naplink/
.tmp/
src/generated/
*.tgz
config/app.toml
config/app.local.toml
config/ff14.toml
config/vtb.toml
config/app.docker.toml
doc/
CODEX_PROMPTING_GUIDE.md
bun.lock
tools/
temp/
.agents/
github/
package-lock.json